<% title "Admin" %>

<table border="1">
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Type</th>
  </tr>
  <% for post in @posts %>
    <tr>
      <td><%= post.title %></td>
      <td><%= raw(post.body) %></td>
      <td><%= post.post_type %></td>
      <td><%= link_to "Edit", edit_post_path(post) %></td>
      <td><%= link_to "Destroy", post, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<%= link_to "Create New Content", new_post_path %>