<% title "Arliss Nancy" %>

<% for post in @posts %>
  <div class="post">
    <h2><%= post.title %></h2>
    <div><%= raw(post.body) %></div>

    <% if post.post_type == "song" %>
      <% if params[:action] == "songs" %>
        <audio controls>
          <source src="<%= post.mp3_url %>" type="audio/mpeg" />
          <source src="<%= post.ogg_url %>" type="audio/ogg" />
        </audio>
      <% end -%>
    <% end -%>

    <div class="more_info"><%= link_to "More Info...", post %></div>

  </div>
<% end %>

